## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(0, 100), 80)
sample_list_1

[59,
 34,
 88,
 39,
 77,
 89,
 24,
 38,
 33,
 82,
 28,
 16,
 84,
 81,
 55,
 10,
 90,
 83,
 30,
 7,
 48,
 21,
 47,
 43,
 99,
 72,
 17,
 27,
 70,
 14,
 67,
 86,
 13,
 15,
 12,
 0,
 71,
 64,
 75,
 8,
 2,
 95,
 26,
 76,
 5,
 53,
 20,
 61,
 49,
 22,
 87,
 3,
 69,
 98,
 73,
 68,
 58,
 6,
 31,
 91,
 42,
 32,
 74,
 46,
 41,
 29,
 25,
 45,
 36,
 60,
 4,
 66,
 23,
 63,
 51,
 93,
 97,
 85,
 11,
 96]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
import random
sample_list_2 = [random.randint(0,100) for sample_list_2 in range(80)]
print(sample_list_2)

[27, 64, 72, 23, 43, 69, 84, 75, 66, 81, 63, 100, 42, 82, 37, 94, 33, 30, 89, 86, 89, 65, 29, 38, 88, 81, 41, 17, 59, 98, 6, 32, 21, 11, 91, 25, 60, 5, 33, 7, 44, 49, 84, 39, 98, 42, 4, 43, 78, 44, 90, 14, 97, 48, 53, 36, 25, 45, 88, 43, 87, 17, 52, 98, 2, 61, 14, 13, 69, 22, 88, 39, 64, 53, 52, 84, 5, 97, 48, 71]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = {element for element in set1 if element not in set2}
print(set3)

{0, 3, 8, 10, 12, 15, 16, 20, 24, 26, 28, 31, 34, 46, 47, 51, 55, 58, 67, 68, 70, 73, 74, 76, 77, 83, 85, 93, 95, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = {element for element in set2 if element not in set1}
print(set4)

{65, 100, 37, 44, 78, 52, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = {element for element in set1 if element in set2}
print(set5)

{2, 4, 5, 6, 7, 11, 13, 14, 17, 21, 22, 23, 25, 27, 29, 30, 32, 33, 36, 38, 39, 41, 42, 43, 45, 48, 49, 53, 59, 60, 61, 63, 64, 66, 69, 71, 72, 75, 81, 82, 84, 86, 87, 88, 89, 90, 91, 97, 98}

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [9]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
56
31
7
49

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6 = set3.update(set5)
print(set6)

None

#### Check if `set1` and `set6` are equal.

In [16]:
# Your code here
if set1 == set6:
    print(True)
else: 
    print(False)

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [17]:
# Your code here
print(set1.issubset(set2))
print(set1.issubset(set3))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [18]:
# Your code here
print(set3.union(set4, set5))

{0, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 55, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove an element from `set1`.

In [19]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [21]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
to_get = {element for element in set1 if element not in list_to_remove}
print(to_get)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 36, 38, 42, 43, 45, 46, 47, 48, 53, 55, 58, 60, 63, 64, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 82, 83, 84, 85, 86, 87, 88, 90, 93, 95, 96, 97, 98}