# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv("data/vehicles.csv")

In [3]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

How many Car models?

In [4]:
### your code is here

cars['Model'].nunique()

3608

group by the data by the Make  using count function

In [5]:
cars.groupby('Make')['Make'].count()

Make
AM General                        4
ASC Incorporated                  1
Acura                           302
Alfa Romeo                       41
American Motors Corporation      22
                               ...
Volkswagen                     1047
Volvo                           717
Wallace Environmental            32
Yugo                              8
smart                            20
Name: Make, Length: 127, dtype: int64

In [6]:
cars.shape

(35952, 15)

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

What brand has the most cars?

In [7]:
most_cars = cars['Make'].value_counts()
most_cars = most_cars[0:1]
most_cars

Chevrolet    3643
Name: Make, dtype: int64

<b>show the average CO2_Emission_Grams/Km  by Brand

In [24]:
cars['CO2 Emission Grams/km'] = cars['CO2 Emission Grams/Mile']/1.60934
x = pd.DataFrame(cars.groupby('Make')['CO2 Emission Grams/km'].mean())
x

                             CO2 Emission Grams/km
Make
AM General                              379.881345
ASC Incorporated                        345.133719
Acura                                   262.583000
Alfa Romeo                              288.287195
American Motors Corporation             314.264744
...                                            ...
Volkswagen                              244.038998
Volvo                                   270.796572
Wallace Environmental                   408.857065
Yugo                                    221.251107
smart                                   153.498052

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [10]:
x.sort_values(by = 'CO2 Emission Grams/km', ascending=False)

                                    CO2 Emission Grams/km
Make
Vector                                         651.919248
Superior Coaches Div E.p. Dutton               552.213951
S and S Coach Company  E.p. Dutton             552.213951
Bugatti                                        542.497235
Laforza Automobile Inc                         502.012683
...                                                   ...
MINI                                           194.935105
Daihatsu                                       192.742404
Fiat                                           189.311494
smart                                          153.498052
Fisker                                         105.011992

[127 rows x 1 columns]

In [25]:
x

                             CO2 Emission Grams/km
Make
AM General                              379.881345
ASC Incorporated                        345.133719
Acura                                   262.583000
Alfa Romeo                              288.287195
American Motors Corporation             314.264744
...                                            ...
Volkswagen                              244.038998
Volvo                                   270.796572
Wallace Environmental                   408.857065
Yugo                                    221.251107
smart                                   153.498052

[127 rows x 1 columns]

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [ ]:
cars.head(3)

In [ ]:
pd.qcut(x = cars['Year'],4, labels =  np.array(['80s', '90s', '00s', '10s', '20s']) )

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [ ]:
### your code is here

Which brands are more environment friendly?

In [ ]:
### your code is here

Does the drivetrain affect fuel consumption?

In [ ]:
## Your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [ ]:
## Your Code here

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [ ]:
## your code is here

aggregate with average City_Km/Liter and the minimum of the Trans

In [ ]:
### your code is here